{% extends "layout.html" %}

{% block body %}
<div class="container" style="max-width: 900px; margin-top: 30px;">
  <h1 id="Main-header">Round complete! Initializing next round...</h1>
  
  <br>
  <br>

  <h4 style="color: indianred;">The sequences will be different in the next round — what you learned will not apply!</h4>
  
  <br>
  <br>

  <p>
    To go to the next round, press the button below or press "enter"
  </p>

  <br>

  <button type="button" class="btn btn-success btn-lg"
  style="margin-left: 12px;"
  onclick="dallinger.goToPage('experiment');">
  Next Round
  </button>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).off("keydown.gc").on("keydown.gc", function(e) {
    if (e.which === 13) {
      e.preventDefault();
      dallinger.goToPage('experiment');
    }
  });
</script>
{% endblock %}