{% extends "layout.html" %}

{% block body %}
<div class="container" style="max-width: 900px; margin-top: 30px;">
  <h1 id="Main-header">Round complete! Initializing next round...</h1>
  
  <br>
  <br>
  <br>

  <h4 style="color: indianred;">The sequences will be different in the next round — what you learned will not apply!</h4>
  
  <br>
  <br>
  <br>

  <button type="button" class="btn btn-success btn-lg"
  style="margin-left: 12px;"
  onclick="dallinger.goToPage('experiment');">
  Next Round
  </button>

</div>

{% endblock %}