{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Comprehension check</h1>
<hr>

<p>
    To check your understanding of the study, please answer the following questions.
</p> 


<br>
<br>



<div class = "card mb-5">
    <div class = "card-body">
        <h4>1) Will you see the answer of a previous player?</h4>
        <h6 id = "Q1"><b>...</b></h6>


<div class = "row mt-3">
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q1', 'Yes, for all boxes on every attempt', 'incorrect')">
            Yes, for all boxes on every attempt
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q1', 'Yes, for some boxes on some attempts', 'correct')">
            Yes, for some boxes on some attempts
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q1', 'No', 'incorrect')">
            No
        </button>
    </div>
</div> 
</div>
</div>


<div class = "card mb-5">
    <div class = "card-body">
        <h4>2) Which statement best describes the answer from the previous player?</h4>
        <h6 id = "Q2"><b>...</b></h6>


<div class = "row mt-3">
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q2', 'They are incorrect, because they were completing a different sequence', 'incorrect')">
            They are incorrect, because they were completing a different sequence
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q2', 'They are correct, because they got the sequence right', 'incorrect')">
            They are correct, because they got the sequence right
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q2', 'They may be correct because they completed the same sequence, but they might have gotten it wrong', 'correct')">
            They may be correct because they completed the same sequence, but they might have gotten it wrong
        </button>
    </div>
</div> 
</div>
</div>



<div class = "card mb-5">
    <div class = "card-body">
        <h4>3) What is the meaning of blue versus white boxes?</h4>
        <h6 id = "Q3"><b>...</b></h6>


<div class = "row mt-3">
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q3', 'Blue boxes have the same answer for both sequences in a round, white boxes are independent', 'correct')">
            Blue boxes have the same answer for both sequences in a round, white boxes are independent
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q3', 'White boxes have the same answer for both sequences in a round, blue boxes are independent', 'incorrect')">
            White boxes have the same answer for both sequences in a round, blue boxes are independent
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q3', 'The first 2 boxes are blue, the rest are white', 'incorrect')">
            The first 2 boxes are blue, the rest are white
        </button>
    </div>
</div> 
</div>
</div>


<div class = "card mb-5">
    <div class = "card-body">
        <h4>
            4) Suppose you observed the following feedback after an attempt. What does this tell you about sequence G?
        </h4>
        <div class="text-center my-4">
            <img src="{{ url_for('static', filename='images/G_feedback.png') }}"
                 class="img-fluid"
                 style="max-width:350px;">
        </div>
        <h6 id = "Q4"><b>...</b></h6>


<div class = "row mt-3">
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q4', 'The correct answer for the second box is ↑', 'incorrect')">
            The correct answer for the second box is ↑
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q4', 'The correct answer for the second box is →', 'correct')">
            The correct answer for the second box is →
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q4', 'It does not tell you anything', 'incorrect')">
            It does not tell you anything
        </button>
    </div>
</div> 
</div>
</div>


<div class = "card mb-5">
    <div class = "card-body">
        <h4>
            5) Suppose you observed the following feedback for Sequence F. Does this tell you anything about Sequence E?
        </h4>
        <div class="text-center my-4">
            <img src="{{ url_for('static', filename='images/F_feedback.png') }}"
                 class="img-fluid"
                 style="max-width:500px;">
        </div>
        <h6 id = "Q5"><b>...</b></h6>


<div class = "row mt-3">
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q5', 'It does not tell you anything', 'incorrect')">
            It does not tell you anything
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q5', 'The correct answer for the second box is → and the correct answer for the fifth box is not →', 'incorrect')">
            The correct answer for the second box is → and the correct answer for the fifth box is not →
        </button>
    </div>
    <div class = "col-md-12 mb-2">
        <button type = "button" class = "btn btn-outline-primary" onClick="pingButton('Q5', 'The correct answer for the second box is →', 'correct')">
            The correct answer for the second box is →
        </button>
    </div>
</div> 
</div>
</div>

<h4 id = "warning" style = "display:none;color:red">
    One or more of your answers was incorrect. Check your answers carefully and try again.
</h4> 

<h4 id = "correct" style = "display:none;color: green">
    Your answers are correct! Once you are ready to begin the study, press "Begin".
</h4> 

<div id="button-row" style="margin-top: 28px;">

<button type="button" id="submit" class="btn btn-outline-primary btn-lg"
onclick="attemptAdvance();">
Submit
</button>

<button id="re-read" type="button" class="btn btn-primary btn-lg" 
style="display: none; margin-left: 15px;"
onclick="dallinger.goToPage('instructions/instruct-1');">
Re-read
</button>

<button id="begin" type="button" class="btn btn-outline-primary btn-lg"
style="margin-left: 20px; display: none;"
onclick="dallinger.goToPage('experiment');">
Begin
</button>
</div>


</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">

var Question_1 = "";
var Question_2 = "";
var Question_3 = "";
var Question_4 = "";
var Question_5 = "";

var attempts = 0

function pingButton(type, response, correctness){
    if(type == "Task"){
      $("#Task").html(response);  
    } else if(type == "Q1"){
      $("#Q1").html(response);
      Question_1 = correctness;  
    } else if(type == "Q2"){
      $("#Q2").html(response);
      Question_2 = correctness; 
    } else if(type == "Q3"){
      $("#Q3").html(response);
      Question_3 = correctness;  
    } else if (type == "Q4"){
      $("#Q4").html(response);
      Question_4 = correctness;
    } else if (type == "Q5"){
      $("#Q5").html(response);
      Question_5 = correctness;
    }
}

function attemptAdvance() {
    attempts += 1

    if (Question_1 == "correct" && Question_2 == "correct" && Question_3 == "correct" && Question_4 == "correct" && Question_5 == "correct") {
        
        dallinger.storage.set("comp_attempts", attempts);

        $("#correct").show();
        $("#begin").show();
        $("#warning").hide();
        $("#re-read").hide();


    } else {
        if (attempts == 1) {
            $("#warning").show()
        } 
        if (attempts == 2) {
            $("#warning").html('You seem to be having trouble with the instructions. You will now be sent back to re-read the instructions. Press the "Re-read" button to go back to the instructions. Otherwise, you may also return the study if you wish.')
            $("#submit").hide();
            $("#re-read").show();
        }
        
    }
}

</script>
{% endblock %}