{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>

<p>here is an example of what a timestep may look like:</p>

<img src="{{ url_for('static', filename='images/timestep.png') }}" width="700px" height="550px"/>

<br>
<br>

<p>Your task is to completed the highlighted sequence (Sequence F in this example).</p>

<p>In each round, the two sequences share some positions: blue boxes are the same in both sequences, but white boxes may differ. For the blue boxes, you can use what you learn about one sequence to complete the other.</p>



<div id="instruction-status" style="margin-top: 16px; min-height: 24px;"></div>

<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-2');">
Previous
</button>

<button type="button" class="btn btn-primary btn-lg"
style="margin-left: 12px;"
onclick="dallinger.goToPage('instructions/instruct-ready2');">
Next
</button>
</div>

</div>


{% endblock %}
