{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>

<p>
    You will complete 5 rounds of this experiment in total, with each round containing its own unique pair of sequences. You
    will complete multiple attempts per round. On each attempt, you will interact with one of the two sequences for that round. 
    Once you move on to the next round, both sequences are replaced with new ones that have different correct answers. 
</p>

<br>
<br>

<h3>Payment</h3>

<p>In addition to your base payment, you will receive an extra $0.02 for each box you answer correctly on each attempt, with a maximum bonus of $2.00</p>

<br>
<br>

<p>
    If you fully understand the instructions, press "Continue". Otherwise, you may go back and re-read them.
</p>

<br>
<br>

<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-3');">
Previous
</button>

<button type="button" class="btn btn-success btn-lg"
style="margin-left: 12px;"
onclick="dallinger.goToPage('instructions/comprehension');">
Continue
</button>
</div>


</div>

{% endblock %}