{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>

<p>
    In this experiment, you will learn 10 different sequences across 5 rounds. There are two sequences per round. 
    Your goal is to learn the correct answers for these sequences to the best of your ability.
</p>

<p>
    Each round will consist of a number of timesteps. At each timestep, you can guess the correct answers for one of 
    the two sequences for the round.
</p>

<p>
    Each sequence will contain a row of boxes, which you can fill using the arrow keys on your keyboard 
    (<strong>↑ ↓ ← →</strong>).
</p>

<hr>

<p>Here's an example sequence:</p>

<div id="instruction-container">
<div style="margin-top: 20px;">
<img src="{{ url_for('static', filename='images/Your_answer.png') }}" width="550px" height="115px"/>
</div>
</div>

<br>

<p>After each answer, you may get feedback on some parts of the sequence:</p>

<img src="{{ url_for('static', filename='images/feedback.png') }}" width="550px" height="115px"/>

<p>
<span style="color: green;"><strong>Green</strong></span> = Correct.
<span style="color: red;"><strong>Red</strong></span> = Incorrect.
<span style="color: black;"><strong>White</strong></span> = No feedback.
</p>
<p>You should use this feedback to learn the correct sequence.</p>

<div id="instruction-status" style="margin-top: 16px; min-height: 24px;"></div>

<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-2');">
Next
</button>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
dallinger.createParticipant();
</script>
{% endblock %}