{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>


<p>You may also see parts of the sequence typed by another participant.</p>

<p>Hidden parts of their sequence are shown as "?".</p>

<img src="{{ url_for('static', filename='images/vertical_transmission.png') }}" width="550px" height="250px"/>

<br>
<br>

<p>
The previous participant's answers can be useful, but they are not necessarily correct.
</p>


<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-1');">
Previous
</button>

<button type="button" class="btn btn-primary btn-lg"
style="margin-left: 12px;"
onclick="dallinger.goToPage('instructions/instruct-ready');">
Next
</button>
</div>


</div>

{% endblock %}