{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>


<p>During your attempt of a sequence, you may also see parts of the answer left by a previous player who was attempting 
    the same sequence.</p>

<p>Hidden parts of the player's answer are shown as "?".</p>

<br>

<img src="{{ url_for('static', filename='images/vertical-transmission.png') }}" width="550px" height="250px"/>

<br>
<br>

<p>
The previous player's answer is not guaranteed to be correct, though you may use them if you find them helpful.
</p>


<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-1');">
Previous
</button>

<button type="button" class="btn btn-primary btn-lg"
style="margin-left: 12px;"
onclick="dallinger.goToPage('instructions/instruct-3');">
Next
</button>
</div>


</div>

{% endblock %}