{% extends "layout.html" %}

{% block body %}
<div class="main_div">
<h1>Instructions</h1>
<hr>

<p>In addition to your base payment, you will receive an extra $0.02 for each position you answer correctly on each attempt.</p>

<br>
<br>

<p>If you are ready, click "Begin" to start the experiment.</p>

<br>
<br>

<div id="button-row" style="margin-top: 28px;">
<button type="button" class="btn btn-primary btn-lg"
onclick="dallinger.goToPage('instructions/instruct-ready');">
Previous
</button>

<button type="button" class="btn btn-success btn-lg"
style="margin-left: 12px;"
onclick="dallinger.goToPage('experiment');">
Begin
</button>
</div>


</div>

{% endblock %}